@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Raleway:wght@300;400;500;600;700;800&display=swap');

:root,
body,
* {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 500 !important;
  line-height: 1.5;
  font-weight: 500;
  /* font-family: 'Poppins', sans-serif !important; */
}
